*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
header{
    background-color: teal;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight:600;
    text-transform: uppercase;
    color: white;
}
li{
    display: inline;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
}
li a:hover{
    color: black;
}
button{
    width: 90px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #373737;
}